*{
  margin: 0;
  padding: 0;
}
.header{
  background:rgb(49, 49, 49);
  color: aliceblue;
  height: 70px;
}
#nav ul{
  list-style-type: none;
  float: right;
}
#nav ul li{
  float: left;
  padding: 25px 40px 0px 20px;
}

#sidenbar {
  background:rgb(255, 255, 255);
}
#sidebar a{
  text-decoration: none;
  color:rgb(255, 255, 255);
  display: block;
  border-bottom: 1px solid black;
  padding: 10px;
  background: rgb(196, 193, 193);
}
#sidebar a:hover{
  color:rgb(139, 139, 139)
}

#footer{
  background:rgb(49, 49, 49);
  color: aliceblue;
  height: 70px; 
}

.division{
  border: 10px solid black;
  height: 100px;
}